@import url("https://fonts.googleapis.com/css?family=Lato,Open+Sans");

label {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:   18px;
}

.results, .results thead, .results tbody, .results thead tr, .results tbody td {
    font-family: Lato, sans-serif;
    font-size:   18px;
    text-align:  left;
    color:       rgba(255, 255, 255, .8);
}

.content-section {
    padding-top: 100px;
}

.intro-subtext {
    font-size:     14px;
    font-family:   Lato, sans-serif;
    margin-bottom: 25px;
}

.intro-body h1 {
    margin-bottom: 0;
}

.inner-subtext {
    font-size:     18px;
    font-family:   Lato, sans-serif;
    margin-bottom: 25px;
}

.control-label {
    line-height: 34px;
    min-height:  34px;
}

.panel {
    margin-bottom:  5px;
    padding-bottom: 0;
}

.panel-heading h3 {
    margin-bottom: 0;
}

.panel .form-group {
    margin-bottom: 0;
}

.panel-body .control-label {
    color: #666;
}

.panel-body p.form-control-static {
    color:          #333;
    padding-bottom: 5px;
    margin-bottom:  0;
}

.panel-list {
    color:       #666;
    font-family: 'Lato', 'Open Sans', Arial, sans-serif;
}

.simo-card {
}

.simo-card-body {
}

.simo-card-header {
}

.simo-card-title {
}

.simo-link {
    color:           inherit;
    text-decoration: none;
}

.simo-link:hover {
    text-decoration: underline;
}

.highlighted {
    background-color: rgba(255, 239, 52, 0.51);
}

@media (min-width: 767px) {
    .content-section {
        padding-top: 150px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
